.parallax-container {
  height: 768px;
  background-color: #ffc024;
  z-index: -1; position: relative;
}

.parallax-container-2 {
	height: 600px;
/*	background-color: #006699;*/
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

h2 {
	text-align: center;
}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	color: #ff5c14;
	background-color: #ffc024;
	max-width: 100%;
}

img {
	max-width: 100%;
	border: 1px solid #c90086;
}

.row-1 {
	padding: 30px;
}

#skills {
	float: left;
/*	display: inline-block;*/
	max-width: 100%;
	background-color: #006699;
	padding: 15px;
	border: 5px solid #c90086;
}

#experience {
	float: right;
/*	display: inline-block;*/
	max-width: 100%;
	background-color: #006699;
	padding: 15px;
	border: 5px solid #c90086;
}

#projects {
	margin-top: 25px;
	border: 5px solid #c90086;
	float: right;
	padding: 25px;
}

.fancy_title {
	margin-top: 175px;
}

h1 .char1 {
	color: #003366;
}

h1 .char2 {
	color: #006699;
	font-size: 90px;
}

h1 .char3 {
	color: #003366;
	font-size: 90px;
}

h1 .char4 {
	color: #006699;
	text-transform: uppercase;
}

h1 .char5 {
	color: #003366;
	font-size: 90px;
}

h1 .char6 {
	color: #006699;
	text-transform: uppercase;
}

h1 .char7 {
	color: #003366;
	text-transform: uppercase;
}

h1 .char9 {
	color: #006699;
}

h1 .char10 {
	color: #003366;
	font-size: 90px;
}

h1 .char11 {
	color: #006699;
	font-size: 90px;
}

h1 .char12 {
	color: #003366;
	text-transform: uppercase;
}

h1 .char13 {
	color: #006699;
	font-size: 90px;
}

h1 .char14 {
	color: #003366;
	font-size: 90px;
}

h1 .char15 {
	color: #006699;
	font-size: 90px;
}

/*/////subtitle/////*/
h2 .word1 {
	font-size: 70px;
	color: #c90086;
	font-family: 'Abril Fatface', cursive;
}

h2 .word2 {
	font-family: 'Meddon', cursive;
	font-size: 70px;
	color: 	#c90086;
}

h2 .word3 {
	font-family: 'Meddon', cursive;
	font-size: 70px;
	color: 	#c90086;
}


/*/////Quote/////*/
h1.quote .word1 {
	color: #003366;
}

h1.quote .word2 {
	color: #c90086;
}

h1.quote .word3 {
	color: #003366;
}

h1.quote .word4 {
	color: #003366;
}

h1.quote .word5 {
	color: #006699;
}

h1.quote .word6 {
	color: #006699;
}

h1.quote .word7 {
	color: #003366;
}

h1.quote .word8 {
	color: #c90086;
}

h1.quote .word9 {
	color: #003366;
}

h1.quote .word10 {
	color: #003366;
}

h1.quote .word11 {
	color: #ff5c14
}

h1.quote .word12 {
	color: #ff5c14
}


/*/////Languages List/////*/

p.languages .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.languages .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Frameworks List/////*/
p.frameworks .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.frameworks .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Tools List/////*/
p.tools .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.tools .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.tools .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.tools .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.tools .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Other List/////*/
p.other .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.other .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word6 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word7 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Experience/////*/
p.experience-1 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-1 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-2 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
	font-weight: bold;
}

p.experience-2 .line2 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-2 .line3 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-3 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-3 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-4 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-4 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-5 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-5 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-6 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-6 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}