.parallax-1 {
  height: 700px;
  background-color: white;
  z-index: -1; position: relative;
}

.section-2 {
	margin-top: 40px;
	height: 600px;
	/*padding-left: 75px;*/
	/*padding-right: 75px;*/
/*	max-width: 100%;*/
/*	background-color: #006699;*/
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: #006699;
}

h2 {
	text-align: center;
	font-size: 70px;
	color: #c90086;
	font-family: 'Satisfy', cursive;
}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	color: #ff5c14;
	background-color: #ffc024;
	max-width: 100%;
}

img {
	max-width: 100%;
	border: 1px solid #c90086;
}

.row-1 {
	padding: 30px;
}

.kendall {
	border-radius: 50%;
	width: 300px;
	border: 5px solid #c90086;
}

.quote {
	/*margin-top: 150px;*/
	padding-top: 30px;
	padding-bottom: 30px;
}

.schpiel {
	margin-top: 50px;
	margin-bottom: 50px;
}

#about {
	padding-top: 75px;
}

#skills {
	/*position: relative;*/
	float: left;
	display: inline-block;
	max-width: 100%;
	/*background-color: #006699;*/
	padding: 15px;
	/*border: 5px solid #c90086;*/
	/*margin-left: 60px;*/
}

#experience {
	/*position: relative;*/
	float: right;
	display: inline-block;
	max-width: 100%;
	/*background-color: #006699;*/
	padding: 15px;
	/*border: 5px solid #c90086;*/
	/*margin-right: 60px;*/
}

#projects {
	margin-top: 35px;
	/*border: 5px solid #c90086;*/
	float: right;
	padding: 25px;
	/*padding-left: 50px;*/
	/*padding-right: 50px;*/
	margin-bottom: 25px;
}

.fancy_title {
	margin-top: 155px;
}

/*h1 .char1 {
	color: #003366;
}*/

h1 .char2 {
	/*color: #006699;*/
	font-size: 90px;
}

h1 .char3 {
	/*color: #003366;*/
	font-size: 90px;
}

h1 .char4 {
	/*color: #006699;*/
	text-transform: uppercase;
}

h1 .char5 {
	/*color: #003366;*/
	font-size: 90px;
}

h1 .char6 {
	/*color: #006699;*/
	text-transform: uppercase;
}

h1 .char7 {
	/*color: #003366;*/
	text-transform: uppercase;
}

h1 .char9 {
	/*color: #006699;*/
}

h1 .char10 {
	/*color: #003366;*/
	font-size: 90px;
}

h1 .char11 {
	/*color: #006699;*/
	font-size: 90px;
}

h1 .char12 {
	/*color: #003366;*/
	text-transform: uppercase;
}

h1 .char13 {
	/*color: #006699;*/
	font-size: 90px;
}

h1 .char14 {
	/*color: #003366;*/
	font-size: 90px;
}

h1 .char15 {
	/*color: #006699;*/
	font-size: 90px;
}

/*/////subtitle/////*/
/*h2 .word1 {
	font-size: 70px;
	color: #c90086;
	font-family: 'Abril Fatface', cursive;
}

h2 .word2 {
	font-family: 'Meddon', cursive;
	font-size: 70px;
	color: 	#c90086;
}

h2 .word3 {
	font-family: 'Meddon', cursive;
	font-size: 70px;
	color: 	#c90086;
}*/


/*/////Quote/////*/
h1.quote .word1 {
	color: #003366;
}

h1.quote .word2 {
	color: #c90086;
}

h1.quote .word3 {
	color: #003366;
}

h1.quote .word4 {
	color: #003366;
}

h1.quote .word5 {
	color: #006699;
}

h1.quote .word6 {
	color: #006699;
}

h1.quote .word7 {
	color: #003366;
}

h1.quote .word8 {
	color: #c90086;
}

h1.quote .word9 {
	color: #003366;
}

h1.quote .word10 {
	color: #003366;
}

h1.quote .word11 {
	color: #ff5c14
}

h1.quote .word12 {
	color: #ff5c14
}

/*/////Schpiel/////*/
h4.schpiel .line1 {
	font-family: 'Merriweather', serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #ff5c14;
	font-style: italic;
}

h4.schpiel .line2 {
	font-family: 'Merriweather', serif;
	font-size: 22px;
	color: #003366;
}

h4.schpiel .line3 {
	font-family: 'Merriweather', serif;
	font-size: 22px;
	font-weight: bold;
	color: #c90086;
}

h4.schpiel .line4 {
	font-family: 'Merriweather', serif;
	font-size: 22px;
	color: #003366;
}



/*/////Languages List/////*/

p.languages .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.languages .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.languages .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Frameworks List/////*/
p.frameworks .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.frameworks .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.frameworks .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Tools List/////*/
p.tools .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.tools .word2 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.tools .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.tools .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.tools .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Other List/////*/
p.other .word1 {
	color: #c90086;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

p.other .word2 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word3 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word4 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word5 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word6 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}

p.other .word7 {
	font-family: 'Pompiere', cursive;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #003366;
}


/*/////Experience/////*/
p.experience-1 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-1 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-2 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
	font-weight: bold;
}

p.experience-2 .line2 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-2 .line3 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-3 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-3 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-4 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-4 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-5 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-5 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

p.experience-6 .line1 {
	display: block;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #c90086;
}

p.experience-6 .line2 {
	display: block;
	font-family: 'Pompiere', cursive;
	color: #003366;
	font-size: 20px;
	font-weight: bold;
}

.resume-btns {
	text-align: center;
}

.btn {
	background-color: #006699;
}

/*.btn-large {
	background-color: #006699;
}*/

/*.btn-default {
	background-color: #006699;
}*/

.btn:hover {
	background-color: #ff5c14;
}

/*.btn:link, .btn:visited { 
    background-color: #ff5c14;
}*/

.btn:link:active, .btn:visited:active { 
    background-color: #ff5c14;
}

/*/////Nav/////*/
/*.navbar-fixed {
	height: 80px;	
	background-color: #c90086
}*/

.nav-wrapper {
	background-color: #c90086;
}

a.brand-logo {
	font-family: 'Merriweather', serif;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 40px;
	/*border: 7px solid white;*/
	padding-left: 20px;
	padding-right: 20px;
/*	border-radius: 50%;*/
}

.nav-item {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	color: white;
}

.button-collapse {
	padding-left: 20px;
	padding-right: 20px;
}

#mobile-demo {
	/*background-color: #c90086;*/
}


/*/////Projects/////*/
.project-header {
	width: 500px;
	margin-left: 10px;
	margin-top:50px;
}

.collapsible {
	margin: 5px;
	margin-bottom: 10px;
}

/*#projects-left {
	float: left;
	display: inline-block;
	width: 100%;
}

#projects-right {
	float: right;
	display: inline-block;
	width: 100%;
}*/

.proj-descrip {
	color: #003366;
	font-family: 'Merriweather', serif;	

}

h7 {
	font-weight: bold;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	color: #c90086;
}

.proj-links {
	margin-right: 15px;
	font-family: 'Merriweather', serif;
	color: #006699;
}

.proj-links:hover {
	color: #ff5c14;
}

.fa-chrome {
	margin-right: 5px;
}

.fa-git-square {
	margin-right: 5px;
}

/*/////Contact/////*/
#contact {
	margin-top: 100px !important;
}

.contact-icons {
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
}

.contact-links {
	color: #006699;
}

.contact-links:hover {
	color: #ff5c14;
}

.icon {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-hand-peace-o {
	color: #c90086;
	font-size: 200px;
}

.peace {
	margin-top: 25px;
	text-align: center;
}

.thanks {
	font-size: 70px;
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: #003366;
}


/*/////Media Queries/////*/

@media (max-width: 400px) {

	.schpiel {
		font-size: 15px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.quote {
		font-size: 45px;
	}

	#skills {
		margin-left: 20px;
		margin-right: 20px;
	}
	#experience {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 600px) {
		#skills {
		margin-left: 20px;
		margin-right: 20px;
	}
	#experience {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 991px) {

}

@media (min-width: 992px) {
	#skills {
		/*margin-right: 75px;*/
		margin-left: 35px;
	}
	#experience {
		margin-right: 35px;
		/*margin-left: 75px;*/
	}
}

@media (min-width: 1000px) {
	#skills {
		margin-left: 45px;
	}
	#experience {
		margin-right: 45px;
	}
}

@media (min-width: 1020px) {
	#skills {
		margin-left: 45px;
	}
	#experience {
		margin-right: 45px;
	}
}

@media (min-width: 1050px) {
	#skills {
		margin-left: 55px;
	}
	#experience {
		margin-right: 55px;
	}
}

@media (min-width: 1090px) {
	#skills {
		margin-left: 75px;
	}
	#experience {
		margin-right: 75px;
	}
}
